<div class="container register">
    <div class="row">
  
      <div class="col-md-12 register-right">
  
        <div class="row register-form">
          <div class="col-md-12">
            <form class="form-horizontal" #f="ngForm" novalidate (ngSubmit)="f.form.valid && onSubmit()">
           <input type="hidden" class="form-control"  required name="id" [(ngModel)]="emp.id"value="" />

              <div class="form-group" >

                <input type="text" class="form-control" #firstNamevalid="ngModel" required name="nombre" [(ngModel)]="emp.nombre"
                  placeholder="First Name *" value="" />
  
                <div *ngIf="nombrevalid.errors && (nombrevalid.dirty || nombrevalid.touched)">
                  <p  class="text-danger" *ngIf="nombrevalid.errors.required">Nombre de la Tienda</p>
                </div>
              </div>
  
              <div class="form-group">
                <input type="text" class="form-control"  name="direccion" [(ngModel)]="emp.direccion" placeholder="Dirección"
                  value="" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control"  name="telefono" [(ngModel)]="emp.telefono" placeholder="Telefono"
                  value="" />
              </div>
              
              <input type="submit" class="btn btn-success" value="Actualizar" />
            </form>
          </div>
  
        </div>
  
  
  
      </div>
  
    </div>
  
  </div>