<div class="container">
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand mybrand" routerLink='/tienda-list'> <i class="fa fa-group"></i></a>
    <h1 class="navbar-brand align-middle">Inventario Tarea</h1>


         <a class="btn btn-link btn-sm" routerLink='/inventario-list'> <i class="fa fa-plus"></i>Almacenes</a>
     <a class="btn btn-link btn-sm" routerLink='/proveedor-list'> <i class="fa fa-plus"></i>Proveedores</a>
     <a class="btn btn-link btn-sm" routerLink='/producto-list'> <i class="fa fa-plus"></i>Productos</a>
     <a class="btn btn-link btn-sm" routerLink='/tienda-list'> <i class="fa fa-plus"></i>Tiendas</a>
</nav>

<router-outlet></router-outlet>

</div>